# See https://help.github.com/ignore-files/ for more about ignoring files.


# --- 1/ Security
llm/keys.env
.env
test_config.py

# --- 2/ Cleaning
.DS_Store
.venv
google-cloud-cli-linux-x86_64.tar.gz
google-cloud-sdk/
*.pyc
**/__pycache__/**
new_venv
new_env_2
gifted-*.json
frameworks/testenv/
.vscode/settings.json

# --- 3/ Data
# ----------- 3.1/ Raw data
/data/new
/data/old

# ----------- 3.2/ Results data
/results/fw1/gender/old
/results/fw1/genderxethnicity/cleaned_results
/results/fw1/gender/cleaned_results
/results/fw1/genderxethnicity/old
/results/fw2/old
/results/experiment2/old
results/old
results/fw2/analysis.ipynb
*_test/
results/tests
results/tests
# --- 4/ Experiments
/xai/embed/progress
/xai/embed/old
/xai/saliency-learning
datasets/mededu_v9i1e47532_app1.docx
llm/test.ipynb
xai/embed/extract.ipynb

xai/embed/extract_embed.ipynb
results/fw2/results.ipynb
/results_analysis
results/fw2/exp2/error/20240816_165437_test0_cluster/results_exp2_GxE_llm_gemma2_9b.csv
results/fw2/exp2/error/20240816_165437_test0_cluster/results_exp2_GxE_llm_llama3_1_8b.csv
results/fw2/exp2/error/20240816_165437_test0_cluster/results_exp2_GxE_llm_llama3_8b.csv
results/fw2/exp2/error/20240816_165437_test0_cluster/results_exp2_GxE_llm_llama3_70b.csv
results/fw2/exp2/error/20240816_165437_test0_cluster/results_exp2_GxE_llm_llm_gemma2_2b.csv
results/fw2/exp2/error/20240816_165437_test0_cluster/results_exp2_GxE_llm_mistral_7b.csv
results/fw2/exp2/error/20240816_165437_test0_cluster/results_exp2_GxE_llm_mixtral_8x22b.csv
results/fw2/exp2/error/20240816_165437_test0_cluster/results_exp2_GxE_llm_mixtral_nemo.csv
results/fw2/exp2/error/closed/check.ipynb
results/fw2/exp2/error/closed/results_exp2_GxE_llm_gemini_3_5_flash.csv
results/fw2/exp2/error/closed/results_exp2_GxE_llm_gpt3.csv
results/fw2/exp2/error/closed/results_exp2_GxE_llm_gpt4o.csv
results/fw2/exp2/error/closed/results_exp2_GxE_llm_gpt4turbo.csv
results/fw2/exp2/error/closed/results_exp2_GxE_llm_haiku.csv
results/fw2/exp2/error/closed/results_exp2_GxE_llm_sonnet3_5.csv
