# See https://help.github.com/ignore-files/ for more about ignoring files.
.DS_Store
datasets/mededu_v9i1e47532_app1.docx
llm/keys.env

/results/experiment1/gender/old
/results/experiment1/genderxethnicity/cleaned_results
/results/experiment1/gender/cleaned_results
/results/experiment1/genderxethnicity/old
/xai/embed/progress
/xai/embed/old
/xai/saliency-learning



keys.env

/data/config
/data/new
/data/old