# See https://help.github.com/ignore-files/ for more about ignoring files.

# --- 1/ Security ---
*.env
llm/keys.env
test_config.py

# --- 2/ System and IDE ---
.DS_Store
.vscode/settings.json
*.pyc
**/__pycache__/**

# --- 3/ Virtual Environments ---
.venv
*env*/
ollama.sif

# --- 4/ External Tools ---
google-cloud-cli-linux-x86_64.tar.gz
google-cloud-sdk/

# --- 5/ Data ---
# Raw data
/data/new/
/data/old/
/data/ft/
# Results data
/results*/
/results_analysis/
z_myriad_outputs/
*_test/
analysis/
notebooks/ignore/

# --- 6/ Experiments ---
/xai/
.vscode/settings.json
*.pyc
**/__pycache__/**

# --- 3/ Virtual Environments ---
.venv
*env*/
ollama.sif

# --- 4/ External Tools ---
google-cloud-cli-linux-x86_64.tar.gz
google-cloud-sdk/

# --- 5/ Data ---
# Raw data
/data/new/
/data/old/
/data/ft/
# Results data
/results*/
/results_analysis/
z_myriad_outputs/
*_test/

# --- 6/ Experiments ---
/xai/
datasets/mededu_v9i1e47532_app1.docx
llm/test.ipynb

# --- 7/ Temporary and Cache Files ---
*.pyc
gifted-*.json

# --- 8/ Postprocessing and data ---
*.csv
*.ipynb

# --- 9/ Specific Files and Folders ---
frameworks/testenv/
test_ollama_env_2.o121394
/results
results/exp2/exp2_pp_nollm.csv
results/exp2/exp2_pp_nollm.csv
/results
/.git-rewrite
results_raw/fw4_ft/gpt4omini_ft_v2
___zzz
/Users/kenzabenkirane/Desktop/GitHub/24ucl_thesis/bias_llm_clinical_nle/scripts/fw4_ft_inference.ipynb
/results_1_raw
/results_2_clean
/results_3_analysis
llm/__pycache__/prompts.cpython-311.pyc
*.pyc
*.png
