# basics
cloudscraper
pandas
beautifulsoup4
python-dotenv
AzureOpenAI
langchain-openai
numpy
spacy
matplotlib
seaborn
scikit-learn
datetime

# LLM
langchain
langsmith
langchain-core
langchain-cohere
langchain-mistralai
langchain-anthropic
langchain-huggingface
openai

# HuggingFace
transformers
torch
huggingface_hub

# OTHER
# For potential future use
# scipy
# typing

# Ensure spaCy English model is downloaded
# Run this after installing requirements: python -m spacy download en_core_web_sm